<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>{% block title %}{% endblock %} - TPW</title>
  {% endblock %}
</head>

<body>
  <div class="ui fixed menu">
    <div class="ui container">
      <a href="{{ url_for('main.index') }}" class="item">TPW</a>
      <div class="ui simple dropdown item">
        Character
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="{{ url_for('main.bank') }}" class="item">Bank</a>
          <a href="{{ url_for('main.dyes') }}" class="item">Dyes</a>
          <a href="{{ url_for('main.wallet') }}" class="item">Wallet</a>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Market
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="{{ url_for('market.listings_current') }}" class="item">Current Listings</a>
          <a href="{{ url_for('market.listings_history') }}" class="item">Market History</a>
        </div>
      </div>
      <div class="right menu">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.profile_get') }}" class="item"><strong>{{ current_user.username }}</strong></a>
        <a href="{{ url_for('auth.logout') }}" class="item">Logout</a>
        {% else %}
        <a href="{{ url_for('auth.register_get') }}" class="item disabled">Register</a>
        <a href="{{ url_for('auth.login_get') }}" class="item">Log in</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="ui container">
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="ui positive message">
      <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="ui negative message">
      <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <!-- Jquery must be before fomantic -->
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <!-- Market Tabs -->
  <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
  <!-- Item Name Copying -->
  <script src="{{ url_for('static', filename='js/copyText.js') }}"></script>
  <!-- TPW CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
</body>

</html>
