{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="ui container">
  <h1>Hello</h1>
  <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, minus quibusdam error nemo fugit
      repudiandae at unde fugiat similique magnam aliquid pariatur quas iste culpa cumque dolorum velit eos
      sed!</span><span>Ut deserunt reprehenderit commodi similique corrupti impedit delectus neque cumque autem eum
      totam optio quod, nihil voluptate beatae sequi nostrum dignissimos expedita repellat odio adipisci modi natus
      labore! Error, accusamus.</span></p>
  <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, est excepturi! Velit quos recusandae
      voluptas saepe, reprehenderit tempore ab sunt libero facilis nemo dolorem tempora ipsam blanditiis itaque odit
      eaque?</span><span>Rerum facere ipsam blanditiis accusamus nam quia culpa, tempora minima soluta voluptatum
      cupiditate repellendus atque, ratione eligendi! Nihil, fugiat earum molestiae eos culpa perspiciatis molestias hic
      neque ratione enim dicta?</span></p>
  <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, a soluta officiis veniam, in deserunt totam
      culpa molestiae reiciendis voluptatem ut excepturi, voluptatum aspernatur vel perspiciatis. Non reprehenderit enim
      aspernatur.</span><span>Veritatis laboriosam impedit vitae dicta consequatur commodi, atque vero laudantium beatae
      velit voluptate aut aperiam, iste deserunt blanditiis id, soluta voluptatibus excepturi saepe aliquid sequi
      provident error! Totam, dolor omnis?</span></p>
</div>
{% endblock %}