{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<h1>Trading Post Watcher</h1>
<p><em>for <a href="https://www.guildwars2.com">Guild Wars 2</a></em></p>
<h2>Some useful links:</h2>
<div class="ui relaxed divided list">
  <div class="item">
    <div class="content">
      <div class="header">
        <a href="https://wiki.guildwars2.com/wiki/API:2">GW2 API Endpoints</a>
      </div>
      <div class="description">
        Easy access to endpoints.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">
        <a href="https://wiki.guildwars2.com/wiki/Daily/easy_dailies">Easy Dailies</a>
      </div>
      <div class="description">
        Organized list of the easiest ways to complete daily achievements.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">
        <a href="https://www.gw2bltc.com/en/account">GW2 BLTC</a>
      </div>
      <div class="description">
        Tool which allows you to search for good items to flip on the trading post.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">
        <a href="https://wiki.guildwars2.com/wiki/Griffon_(mount)#Unlocking">Griffon unlock checklist</a>
      </div>
      <div class="description">
        Guide to unlocking the griffon mount.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">
        <a href="https://wiki.guildwars2.com/wiki/Skyscale#Unlocking">Skyscale unlock checklist</a>
      </div>
      <div class="description">
        Guide to unlocking the skyscale mount.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">
        <a href="https://metabattle.com/wiki/MetaBattle_Wiki">MetaBattle Wiki</a>
      </div>
      <div class="description">
        Organized list of the current meta class builds.
      </div>
    </div>
  </div>
</div>
{% endblock %}
