Flask==2.3.2
Flask-Caching==1.10.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
is-safe-url==1.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.25
mysqlclient==2.0.3
python-dotenv==0.18.0
requests>=2.31.0
SQLAlchemy==1.4.20
timeago==1.0.15
Werkzeug>=2.3.8
wrapt==1.12.1
