{% extends "base.html" %}
{% block title %}Current Listings{% endblock %}
{% block content %}
<h1>Current Listings</h1>

<div class="ui secondary pointing choices menu">
  <a class="active red item" data-tab="sell">Sell</a>
  <a class="fluid red item" data-tab="buy">Buy</a>
</div>

<div class="ui active tab" data-tab="sell">
  <h2>Sell Orders</h2>
  <div class="ui compact divided stackable list">
    {% for order in sells %}
    <div class="item padded {{ 'danger' if order.undercut }}">
      <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
      <div class="content">
        <span class="header">{{ order.name }}</span>
        <div class="description">
          {{ format_gold(order.price)|safe }}
          {% if order.undercut == True %}
          <span class="muted">({{ format_gold(order.market_sell)|safe }})</span>
          {% endif %}
          <br>
          <small>{{ order.created|timeago }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui tab" data-tab="buy">
  <h2>Buy Orders</h2>
  <div class="ui compact divided stackable list">
    {% for order in buys %}
    <div class="middle aligned item {{ 'danger' if order.outbid }}">
      <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
      <div class="content">
        <span class="header">{{ order.name }}</span>
        <div class="description">
          {{ format_gold(order.price)|safe }}
          {% if order.outbid %}
          <span class="muted">({{ format_gold(order.market_buy)|safe }})</span>
          {% endif %}
          <br>
          <small>{{ order.created|timeago }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}