{% extends "base.html" %}
{% block title %}Current Listings{% endblock %}
{% block content %}
<h1>Current Listings</h1>
<p class="muted">Results cached for one minute.</p>
<div class="ui big fluid icon input">
  <input id="filterInput" type="text" placeholder="Type to search" aria-label="Search input" autofocus>
  <i class="search icon"></i>
</div>
{% if delivery.coins > 0 or delivery.item_count > 0 %}
<div class="ui positive message">
  <p>Ready for pickup:</p>
  {% if delivery.coins > 0 %}
  <p>
    <i class="right triangle icon"></i>
    {{ format_gold(delivery.coins)|safe }}
  </p>
  {% endif %}
  {% if delivery.item_count > 0 %}
  <p>
    <i class="right triangle icon"></i>
    {{ delivery.item_count }} items
  </p>
  {% endif %}
</div>
{% endif %}
<div class="ui secondary pointing choices menu">
  <a class="active red item" data-tab="sell">Sell</a>
  <a class="fluid red item" data-tab="buy">Buy</a>
</div>

<div class="ui active tab" data-tab="sell">
  <h2>Sell Orders</h2>
  <div>Estimated profit: {{ format_gold(profit)|safe }}</div>
  <div class="ui relaxed divided stackable list">
    {% for order in sells %}
    <div class="item padded listGroupItem {{ 'danger' if order.undercut }}">
      <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
      <div class="content">
        <span class="header itemName" data-tooltip="Click to copy" data-position="left center">
          {{ order.name }}
        </span>
        Qty: {{ order.quantity }}
        <div class="description">
          {{ format_gold(order.price)|safe }}
          {% if order.undercut == True %}
          <span class="muted">({{ format_gold(order.market_sell)|safe }})</span>
          {% endif %}
          <br>
          <small>{{ order.created|timeago }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui tab" data-tab="buy">
  <h2>Buy Orders</h2>
  <div class="ui compact divided stackable list">
    {% for order in buys %}
    <div class="middle aligned item listGroupItem {{ 'danger' if order.outbid }}">
      <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
      <div class="content">
        <span class="header itemName" data-tooltip="Click to copy" data-position="left center">{{ order.name }}</span>
        <div class="description">
          {{ format_gold(order.price)|safe }}
          {% if order.outbid %}
          <span class="muted">({{ format_gold(order.market_buy)|safe }})</span>
          {% endif %}
          <br>
          <small>{{ order.created|timeago }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
