{% extends "base.html" %}
{% block title %}Current Listings{% endblock %}
{% block content %}
<h1>Current Listings</h1>
<h4 class="ui horizontal divider header">Sell Orders</h4>
<div class="ui relaxed divided stackable list">
  {% for order in sells %}
  <div class="item">
    <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
    <div class="content">
      <span class="header">{{ order.name }}</span>
      <div class="description">
        {{ format_gold(order.price)|safe }}
        {% if order.undercut == True %}
        <span class="muted">({{ format_gold(order.market_sell)|safe }})</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<h4 class="ui horizontal divider header">Buy Orders</h4>
<div class="ui relaxed divided stackable list">
  {% for order in buys %}
  <div class="item">
    <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
    <div class="content">
      <span class="header">{{ order.name }}</span>
      <div class="description">
        {{ format_gold(order.price)|safe }}
        {% if order.outbid == True %}
        <span class="muted">({{ format_gold(order.market_buy)|safe }})</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}