{% extends "base.html" %}
{% block title %}Listing History{% endblock %}
{% block content %}
<h1>Listing History</h1>
<div class="ui big fluid icon input">
  <input id="filterInput" type="text" placeholder="Type to search" aria-label="Search input" autofocus>
  <i class="search icon"></i>
</div>
<div class="ui secondary pointing choices menu">
  <a class="active red item" data-tab="sell">Sold</a>
  <a class="fluid red item" data-tab="buy">Bought</a>
</div>

<div class="ui active tab" data-tab="sell">
  <h2>Items Sold</h2>
  <div class="ui relaxed divided stackable list">
    {% for order in sold %}
    <div class="item padded listGroupItem {{ 'danger' if order.undercut }}">
      <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
      <div class="content">
        <span class="header itemName" data-tooltip="Click to copy" data-position="left center">
          {{ order.name }} ({{ order.quantity }})
        </span>
        <div class="description">
          {{ format_gold(order.price)|safe }}
          <br>
          <small>{{ order.purchased|timeago }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui tab" data-tab="buy">
  <h2>Items Bought</h2>
  <div class="ui compact divided stackable list">
    {% for order in bought %}
    <div class="middle aligned item listGroupItem {{ 'danger' if order.outbid }}">
      <img src="{{ order.icon }}" alt="{{ order.name }}" class="ui rounded image">
      <div class="content">
        <span class="header itemName" data-tooltip="Click to copy" data-position="left center">{{ order.name }}</span>
        <div class="description">
          {{ format_gold(order.price)|safe }}
          <br>
          <small>{{ order.purchased|timeago }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
