{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>
<form action="{{ url_for('auth.register_post') }}" class="ui form" method="POST">
  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="example@example.com" required>
  </div>
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" required>
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" required>
  </div>
  <div class="field">
    <label>API Key</label>
    <input type="text" name="apikey" required>
    <span class="ui medium">Don't have an API key? <a href="https://account.arena.net/applications">Click here</a> to generate one.</span>
  </div>
  <button class="ui button" type="submit">Register</button>
</form>
{% endblock %}
