{% extends "base.html" %}
{% block title %}Today's Daily Achievements{% endblock %}
{% block content %}
<h1>Today's Daily Achievements</h1>
<a href="https://wiki.guildwars2.com/wiki/Daily#Daily">Daily Achievements</a> from the official GW2 wiki.
<div class="ui relaxed divided celled stackable list">
  <h2>PvE</h2>
    {% for item in achievements.pve %}
    <div class="item">
      <div class="content">
        <span class="header">{{ item.name }}</span>
        <div class="description">
          {{ item.requirement }}
        </div>
      </div>
    </div>
    {% endfor %}
  <h2>PvP</h2>
    {% for item in achievements.pvp %}
    <div class="item">
      <div class="content">
        <span class="header">{{ item.name }}</span>
        <div class="description">
          {{ item.requirement }}
        </div>
      </div>
    </div>
    {% endfor %}
  <h2>Fractals</h2>
    {% for item in achievements.fractals %}
    <div class="item">
      <div class="content">
        <span class="header">{{ item.name }}</span>
        <div class="description">
          {{ item.requirement }}
        </div>
      </div>
    </div>
    {% endfor %}
  <h2>WvW</h2>
    {% for item in achievements.wvw %}
    <div class="item">
      <div class="content">
        <span class="header">{{ item.name }}</span>
        <div class="description">
          {{ item.requirement }}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
