body {
  font-size: 1.2em;
  margin-top: 55px;
}

.muted {
  opacity: 0.7;
  font-size: 0.8em;
  font-style: italic;
}

.colorCell {
  line-height: 2em;
}

.danger {
  background: rgba(255, 0, 0, 0.1);
}

div span.itemName:active {
  left: 4px;
}

/* For hours I tried to get Fomantic-UI's built-in "center" class to work
with the market tabs to no avail so looks like we need to use this CSS */
.ui.secondary.pointing.menu a:first-child {
  margin-left: auto;
}
.ui.secondary.pointing.menu a:last-child {
  margin-right: auto;
}
