a {
  color: rgb(175, 0, 0);
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

body {
  font-size: 1.2em;
  margin-top: 55px;
  height: 90%;
}

progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
}

/* For Firefox */
progress::-moz-progress-bar {
  background: rgb(175, 0, 0);
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
    background: rgb(175, 0, 0);
}

/* For IE10 */
progress {
    background: rgb(175, 0, 0);
}

/* Fomantic automatically overrides this so unfortunately the !important is
 * necessary for the filterSearch.js script to work correctly */
.hidden {
  display: none !important;
}

.muted {
  opacity: 0.7;
  font-size: 0.8em;
  font-style: italic;
}

.colorCell {
  line-height: 2em;
}

.danger {
  background: rgba(255, 0, 0, 0.1);
}

div span.itemName:active {
  left: 4px;
}

div span.itemName:hover {
  cursor: pointer;
}

/* For hours I tried to get Fomantic-UI's built-in "center" class to work with
 * the market tabs to no avail so looks like we need to use this CSS */
.ui.secondary.pointing.menu a:first-child {
  margin-left: auto;
}
.ui.secondary.pointing.menu a:last-child {
  margin-right: auto;
}
